body {
  margin: 0px;
  padding: 0px;
  background: #141d2f;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  background: red;
  padding: 2rem 0px;
  width: 80%;
  border-radius: 1rem;
}
.searchWrapper input {
  width: 100%;
}
